<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Login</title>
</head>
<body>

	<h1>Epic Task</h1>
	
	<h2>Login</h2>
	
	<form action="">
		<label for="email">E-mail</label>
		<input name="email" id="email" />
		
		<label for="pass">Senha</label>
		<input type="password" name="pass" id="pass">
		
		<button>Entrar</button>
		<a href="/cadastro">Registrar-se</a>
		<a href="/tasks">Tarefas</a>
		<a href="/mostrar">Listagem de Usuários</a>
		
	</form>

</body>
</html>